*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.img{
    height: 50px;
}
.nav-item{
    margin-left: 50%;
}
.Navbar{
    width: 100%;
}
.text-black {
    color: black; /* Set text color to black */
    text-decoration: none; /* Remove text decoration */
    margin-right: 20px;
  }
.nav-link{
    background-color: rgb(46,202,247);
    margin-left: 50px;
    width: 100%;
}
.search{
    width: 25%;
    margin-right: 10px;
    border: 1px solid rgb(46,202,247);
   
}
.bbbtn{
    background-color: #ABEF25;
    border: none;
    margin-right: 15px;
}
.front-img img{
    margin-top: 3%;
    width: 103%;
    margin-left: -2%;
   
}
.card-section{
    margin-top: 3%;
}
.card-body img{
    height: 30px;
    width: 30px;
 
}
.card-img-top{
    justify-content: center;
    margin-left: 45%;
    
}
.card-body a{
    background-color: rgb(46,202,247);
    color: #fff;
    align-items: center;
}
.card-body a:hover{
    background-color: red;
    color: #fff;

}
.card-title{
    margin-top: 3%;
}

/* .learning-section */
.learning-section{
   
    background-color: rgb(216,242,249);
    height: 100vh;
    width: 100%;
  

}
.start{
    padding-top: 3%;
    font-size: 34px;
}
.learning-section h2{
   text-align: center;
   margin-top: 2%;
   color: #013E6D;
  
}
.card-body button{
    background-color: #fff;
    color: #2ECAF7;
    border: 1px solid #2ECAF7;
    width: 30%;
 
}
.card-body button:hover{
    background-color: #2ECAF7;
    color: #fff;
}
.button{
    margin-top: 3%;
  padding: 5px 5px 5px 5px;
   margin-left: 45%;
   background-color: #2ECAF7;
   border: 1px solid #2ECAF7;
   color: #fff;

}

/* features */

/* .features{
    height: 80vh;
} */

.upcoming{
   
    background-color: #F6F6F6;
    height: 120vh;
    padding-bottom: 5px;
    padding-top: 1px;
   
    
}
.col-lg-6 img{
width: 30%;
height: 15vh;
margin-top: 2%;
margin-left: -3%;
}
.col-lg-6 p{
    margin-left: 30%;
    margin-top: -20%;
}
 .read{
 margin-top: -5px;
margin-left: 30%;

}
.card-body .read{
    color: #2ECAF7;
background-color: #fff;
}
.card-body .read:hover{
    background-color: #fff;
    color: #2ECAF7;
}
.upcoming button{
    padding-top: 2%;
}
.card3{
    margin-left: 50%;
}
.card4{
    margin-left: 5%;
}
.event{
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
}
.upcoming button{
    width: 10%;
   

}
.upcoming button:hover{
    background-color: #ED392F;
    color: #fff;
}


/* skills */

.skills{
    height: 50vh;
    background-color: #EDF1F2;
    padding-bottom: 5px;
    padding-top: 5px;
}
.skills h3{
text-align: center;
margin-top: 5%;
font-size: 18.72px;
}
.card-section1{
    margin-top: 5%;

}
.card-img-top1{
    height: 60px;
    margin-top: 3%;
    
}
.skills h6{
    line-height: 20px;

}

/* 
testimonials */

#Testimonials {
  height: 10vh;
  }

  
 
  
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide p{
    margin-left: 13%;
 
 
    
  }
  .swiper-slide sup{
    color: #2ECAF7;
 font-size: 30px;
  
  }

  .pny{
margin-top: -7%;
  }
 
  .ali{
    margin-top: 3%;
  }
  
  .swiper-slide img {
    display: block;
    margin-left: 10px;
    height: 120px;
    margin-top: 3%;
    border-radius: 60px;
    object-fit: cover;
  }
  .testimonials{
    font-size: 25px;
  }


  /* trainer */

  .trainer{
    height: 150vh;
    width: 100%;
    background-color: #EDF1F2;
  }
  .trainer h3{
    padding-top: 4%;
    text-align: center;
    font-size: 25px;
  }
  
  .images img{
   margin-top: 5%;
   justify-content: center;
padding-left: 8%;
width: 15%;
gap: 5%;
  }
  .trainer span{
    color: #2ECAF7;
  }
  


  /* teaching */

.btnnnn{
padding: 10px 15px 5px 5px;
text-decoration: none;
}


/* footer */
